body{
    background-image:url('background.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.head{
    background-color: rgba(247, 242, 242, 0.7);
}
.left{
    display: inline-block;
    margin-top:30px;
    padding-left:30px;
}
.left p{
    font-family: 'Merriweather', serif;
    font-weight:bolder;
    font-size:25px;
    text-decoration: underline;
}
.left img{
    width:40px;
    margin-left:60px;
}
.middle{
    font-family: 'Merriweather', serif;
    display:block;
    width:43%;
    margin:-20px auto;
    padding-left: 30px;
    margin-top: -70px;  
}
.right{
    font-weight: bolder;
    display:inline-block;
    position:absolute;
    top:0px;
    right:34px;
    padding-top:47px;
    padding-right: 20px;
}
.nav{
    background-color:rbga(248,245,216,0.6);
    box-shadow: 5px 5px 10px 2px darkblue;
    border-radius: 15px;
}
.nav ul li{
    padding-bottom:0px;
    padding-top: 3px;
    display:inline-block;
    
}
.nav ul li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    padding-left: 20px;
    font-weight:bolder;
}
.nav ul li a:hover{
    color:rgb(204, 49, 49);
}
.content{
    display:inline-block;
    font-size:40px;
    font-style: italic;
    font-weight: bolder;
    margin-left:17px;
    font-family: 'Ravi Prakash', cursive;
    text-decoration: underline;
    color:crimson;
}
.photo{
    display:inline-block;
}
.team{
    display: inline-flex;
}
.card{
    border-radius: 10px 10px;
    margin:10px;
    margin-left:32px;
    background-color: rgba(222, 184, 135, 0.816);
    border: 2px solid rgb(197, 42, 107);
    box-shadow: 2px 5px 10px black;
}
.support{
    background-color:rgba(179, 118, 118, 0.618);
    width:95%;
    border-radius: 10px 10px;
    margin-left:30px;
    text-align: center;
    color: black;
    font-family: 'Ravi Prakash', cursive;
    font-weight: bolder;
    font-size: xx-large;
}
.card:hover{
    background-color:rgb(46, 2, 10);
    transition:500ms linear;
    color: khaki;
    box-shadow: 2px 5px 15px rgb(221, 54, 137);
}
.img-thumbnail{
    height:300px;
    border-radius:500px;
}

.card-title{
    text-align:center;
    color:rgb(220, 20, 103);
    font-weight:bolder;
    font-family: 'Times New Roman';
}
.card-text{
    text-align: center;
    font-weight: normal;
}
.user{
    margin-left:92px;
}
.modal-body{
    text-align: center;
    font-family:'Ubuntu', sans-serif;
    font-weight: normal;
    font-size:18px;
}
.modal-header{
    background-color: rgb(34, 140, 126);
    text-decoration: none;
}
.modal-dialog{
    width:300px;
}
.modal-footer{
    margin-right:58px;
}
.user1{
    margin-left:109px;
}
#modalregister .modal-header{
    background-color: lightcoral;
}
.footer{
    background-color: rgba(10, 10, 10,0.9);
}
.footercontent{
    border-top:1px solid grey;
    text-align: center;
    font-weight:bold;
    color:rgb(213, 156, 82);
    padding: 30px;
}
.socialmedia{
    border:2px solid red;
    background-color:red;
    margin-left:567px;
    margin-right:566px;
    border-radius: 30px;
}
.content-s h2{
    font-weight:bold;
    font-size: larger;
    text-align: center;
    background-color: ivory;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Ubuntu',sans-serif;
    color:white;
    background-color: rgba(0, 0, 0, 0.652);
}
.content-s article{
    text-align: center;
    font-size:large;
    font-weight:bold;
}